@import "tailwindcss";

body {
  background-color: var(--color-page-background);
  font-family: "Montserrat", sans-serif;
}

@theme {
  /* Semantic tokens */

  --color-page-background: var(--color-slate-950);
  --color-default-border: var(--color-gray-600);
  --color-default-text: var(--color-violet-50);
  --color-default-icon: var(--color-violet-400);

  /* Component tokens */
  --text-input-shadow: 0px 0px 16px 7px var(--color-violet-800);
}
